<?xml version="1.0" encoding="UTF-8"?>
<blocks>
    <block>
        <name></name>
        <actions></actions>
        <admin>0</admin>
        <active>0</active>
    </block>

    <block>
        <name>HMU_Controllers_Settings</name>
        <actions>
            <action>hmu_settings</action>
            <action>hmu_abort</action>
            <action>hmu_manualrewrite</action>
        </actions>
        <admin>1</admin>
        <active>1</active>
    </block>

    <block>
        <name>HMU_Controllers_Settings</name>
        <actions>
            <action>hmu_logout</action>
        </actions>
        <admin>0</admin>
        <active>1</active>
    </block>

</blocks>